<% if (title) {%>
    <div id="mgt">
<h1><%= title %></h1>
<% } else {res.redirect("/")} %> <%- messages() %>
<% if (locals.accountData.account_type === "Client") {%>
    <h2>Welcome <%- locals.accountData.account_firstname  %></h2>
    <% } else { %>
        <h2>Welcome <%- locals.accountData.account_firstname  %></h2>
        <p><b>You are logged in.</b></p>
        <h3>Manage Inventory.</h3>
        <p><a href="/inv/">Inventory Management</a></p>
        <% } %>


<h3>Edit Account Details</h3>
    <p><a href="/account/update/<%- locals.accountData.account_id %>">Update Account Information</a></p>
</div>
