<% if (title) { %>
<div id="register">
  <h1><%= title %></h1>
  <% }else{res.redirect('/')} %>
  <!--Messages fxn-->
  <%- messages() %>

  <!--error message block-->
  <% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% } %>

  <div>*All fields are required.</div>
  <form action="/account/register" method="post">
    <label for="firstname">
      First Name:
      <input
        type="text"
        name="account_firstname"
        id="account_firstname"
        required
        value="<%= locals.account_firstname %>"
      />
    </label>
    <label for="lastname">
      Last Name:
      <input
        type="text"
        name="account_lastname"
        id="account_lastname"
        required
        value="<%= locals.account_lastname %>"
      />
    </label>
    <label for="email">
      Email:
      <input
        type="email"
        name="account_email"
        id="account_email"
        required
        value="<%= locals.account_email %>"
      />
    </label>
   <button type="submit">Update Account</button>
   <input type="hidden" name="account_id" <% if(locals.account_id) {%> value="<%= locals.account_id} %>"  />
   
  </form>
</div>
